html {
    scrollbar-width: none;
}

body {
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    box-sizing: border-box;
}

a,
a:hover {
    text-decoration: none;
    transition: all 0.3s; 
    cursor: pointer;
}

.exp {
  display : none;
}
